extends ../layout/main-layout.pug

block styles
    link(rel="stylesheet", href="/shop.css")

block content
     .card
            img.card-img-top.shopimg(src= `${prod.imageURL}`, alt="Book Image")
            .card-body
                h5.card-title #{prod.title}
                p.card-text #{prod.author}
                p.card-text #{prod.price}
                p.card-text #{prod.description}
                if loggedIn
                    -var cpIDs = cartProductIDs.map(cartproduct=> cartproduct.productID.toString());
                    if cpIDs.includes(`${prod._id}`)
                        a.btn.btn-success.card-link(href=`/postCart/${prod._id}`) Add Another
                    else
                        a.btn.btn-success.card-link(href=`/postCart/${prod._id}`) Add to Cart
        
